@media screen and (max-width: 767px) {
  .paginatedOffers {
    overflow: hidden;
  }
}

.paginatedOffers {
  display: flex;
  /* width: calc(100vw - 50px); */
  overflow-x: scroll;
  gap: 30px;
}

.categoryImg {
  width: 60px;
  height: 60px;
}

.arrowBtn {
  background-color: transparent;
  color: rgba(40, 111, 108, 1);
  font-weight: 900;
  font-size: 24px;
}

.arrowBtn:disabled {
  color: rgba(15, 49, 65, 1);
}

.arrowWraper {
  position: absolute;
  top: 84px;
  right: 20px;
}

.categoryCard {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: column;
  width: calc((100vh - 60px) / 5.5);
}

@media screen and (min-width: 768px) {
  .paginatedOffers {
    /* display: flex; */
    overflow: scroll;
  }

  .categoryImg {
    display: inline-block;
    width: 140px;
    height: 140px;
  }
  .categoryCard {
    display: flex;
    flex-direction: column;
    width: 140px;
  }
}
