.paginatedOffers {
  display: flex;
  width: calc(100vw - 60px);
  overflow-x: scroll;
  gap: 30px;
}

.arrowBtn {
  background-color: transparent;
  color: rgba(40, 111, 108, 1);
  font-weight: 900;
  font-size: 24px;
}

.arrowBtn:disabled {
  color: rgba(15, 49, 65, 1);
}

.arrowWraper {
  position: absolute;
  top: 84px;
  right: 20px;
}

.categoryCard {
  display: inline-block;
  width: calc((100vh - 60px) / 4.5);
}
