.card {
  margin-bottom: 28px;
}

.titleWrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.title {
  font-size: 20px;
  line-height: 1.34;
  letter-spacing: -0.2px;
  font-weight: 600;
  text-align: left;
}

.subTitle {
  font-size: 18px;
  line-height: 1.28;
  letter-spacing: 0.01px;
  text-align: left;
  margin-bottom: 10px;
}

.readMoreBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.01%;
  color: rgba(2, 129, 94);
}
