.promotionsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
.title {
  font-size: 34px;
  font-weight: 700;
  line-height: 40.95px;
  letter-spacing: -0.03em;
  margin: 0 auto;
  color: rgba(2, 129, 94, 1);
  text-align: center;
  margin-bottom: 15px;
}

.promotionImage {
  width: 100%;
}

.title span {
  color: rgba(241, 117, 86, 1);
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: -0.02em;
  text-align: left;
}

.description,
.price,
.promotion {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.price span,
.promotion span {
  color: red;
}

.promotionWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.promotionForm {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 10px;
}

.promotionForm p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: rgba(2, 129, 94, 1);
}
.promotionForm input {
  height: 20px;
}

.promotionForm button {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  background-color: rgba(2, 129, 94, 1);
  border-radius: 15px;
  padding: 10px 20px;
  margin: 0 auto;
  height: 44px;
}

@media screen and (min-width: 768px) {
  .promotionInfo {
    display: flex;
    gap: 40px;
  }

  .imageWrapper,
  .descriptionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc((100% - 40px) / 2);
  }
  .title {
    margin: 0;
    margin-bottom: 58px;
    text-align: left;
  }
  .promotionInfo .descriptionWrapper {
    align-items: flex-start;
    gap: 12px;
  }

  .description {
    font-size: 18px;
    line-height: 30px;
  }

  .promotionWrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .price,
  .promotion {
    display: block;
    font-size: 24px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
  }

  .promotionForm {
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
  }

  .promotionForm input {
    height: 74px;
  }
  .promotionForm button {
    word-wrap: normal;
    min-width: 170px;
    height: 75px;
  }
}
