.usedTentList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
  width: 90%;
  margin: 0 auto;
}

.usedTentItem {
  width: calc((100% - 60px) / 2);
}

.usedTentImage {
  margin-bottom: 16px;
  width: 100%;
}
.tentTitle {
  font-size: 12px;
  line-height: 14.63px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-bottom: 8px;
}

.tentPrice {
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
  letter-spacing: -0.03em;
  text-align: left;
  color: rgba(255, 0, 0);
  margin-bottom: 8px;
}

.tentLocation,
.date {
  font-size: 10px;
  font-weight: 500;
  line-height: 12.19px;
  letter-spacing: -0.03em;
  text-align: left;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 30px;
  border-radius: 15px;
  background-color: rgba(2, 129, 94, 1);
  color: white;
  width: calc(60% / 2);
  font-size: 13px;
  font-weight: 600;
  line-height: 15.73px;

  text-align: center;
  position: absolute;
  bottom: 0px;
}

.addOgo {
  left: 5%;
}

.loginLink {
  right: 5%;
}

@media screen and (min-width: 768px) {
  .usedTentItem {
    display: flex;
    flex-direction: column;
    width: calc((100% - 60px) / 4);
    cursor: pointer;
  }
  .usedTentList {
    justify-content: flex-start;
  }

  .offerImage {
    width: 100%;
    height: 100%;
  }
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    height: 50px;
    border-radius: 15px;
    background-color: rgba(2, 129, 94, 1);
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 24.2px;
    text-align: center;
    position: absolute;
    bottom: 36px;
  }
}
