.section {
  width: 90%;
  margin: 0 auto;
  margin-top: 32px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36.57px;
  letter-spacing: -0.03em;
  text-align: left;
  color: rgba(2, 129, 94, 1);
}

.styledTitle {
  color: rgba(241, 117, 86, 1);
  font-size: 30px;
  font-weight: 700;
  line-height: 36.57px;
  letter-spacing: -0.03em;
  text-align: left;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background: rgba(240, 116, 84, 1);
  color: white;
  margin-left: auto;
  margin-bottom: 20px;
}

.videoList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 20px;
}

.imageOfVideo {
  width: 100%;
  /* height: 100px; */
  max-width: 320px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 8px;
}
.videoItem {
  width: calc(90% / 2);
}
.videoItemWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 175px;
}

.videoTitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  color: rgba(241, 117, 86, 1);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .section {
    display: block;
    width: 90%;
    padding: 0;
    margin: 0 auto;
    margin-top: 30px;
  }
  .title,
  .styledTitle {
    font-size: 70px;
    font-weight: 700;
    line-height: 85.33px;
    letter-spacing: -0.03em;
    text-align: center;
  }

  .imageOfVideo {
    width: 400px;
    height: 450px;
  }

  .videoItemWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border-radius: 30px;
    overflow: hidden;
  }
  .videoList {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.container {
  display: flex;
  height: 500px;
  overflow-x: hidden;
}

.cards {
  display: flex;
  gap: 40px;
}

.scrollButtonRight,
.scrollButtonLeft {
  display: block;
  background-color: rgba(240, 116, 84, 1);
  border-radius: 50%;
  position: absolute;
  width: 80px;
  height: 80px;
  border: 5px solid white;
  right: -38px;
  top: 180px;
}
.scrollButtonLeft {
  position: absolute;
  display: block;
  background-color: rgba(240, 116, 84, 1);
  border-radius: 50%;
  position: absolute;
  width: 80px;
  height: 80px;
  border: 5px solid white;
  top: 180px;
  left: -50px;
}

.container {
  scroll-behavior: smooth;
}

.arrowLeft {
  transform: rotate(180deg);
}
