.headerContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuBtn {
  opacity: 1;
  transition: opacity 1.5s;

  background-color: transparent;
}

.hiddenMenuBtn {
  opacity: 0;
  transition: opacity 0.8s;
}

.headerNavigate {
  display: none;
}

.exitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 5px 10px;
  background: rgba(2, 129, 94, 1);
  color: white;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  cursor: pointer;
}

.navigate {
  display: flex;
  flex-direction: column;
  padding: 40px 10px;
  gap: 20px;
  width: 100%;
}

.navigate a {
  white-space: nowrap;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
}
.navigate a.active {
  color: orange;
}

@media screen and (min-width: 768px) {
  .headerContainer {
    justify-content: initial;
    margin-bottom: 10px;
  }

  .menuBtn {
    display: none;
  }

  .headerNavigate {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  .headerLogo {
    width: 252px;
  }

  .navigate {
    flex-direction: row;
    padding: 0;
    width: 65%;
    margin-right: 10px;
    justify-content: space-between;
    gap: 10px;
  }

  .telHeader {
    display: flex;
    flex-wrap: nowrap;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
    text-align: left;
    color: rgba(2, 129, 94, 1);
  }

  .languageWrapper {
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: 20px;
  }

  .languagesSelect {
    margin-left: auto;
    font-weight: bold;
    width: 44px;
    height: 24px;
  }
}

@media screen and (max-width: 1050px) {
  .headerNavigate {
    flex-wrap: wrap;
  }
  .navigate {
    flex-wrap: wrap;
  }
}
