.section {
  padding: 0 16px;
}

.sectionTitle {
  font-size: 26px;
  font-weight: 700;
  line-height: 36.57px;
  letter-spacing: -0.03em;
  text-align: center;
  color: rgba(241, 117, 86, 1);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.sectionTitle span {
  color: rgba(2, 129, 94, 1);
  text-transform: lowercase;
}
.googlemap {
  margin-bottom: 24px;
  border-radius: 15px;
}

.subTitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
  text-align: center;
  margin-bottom: 32px;
}

.contactUsWrapper {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}

.routeButton,
.telBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 159px;
  height: 40px;
  text-transform: uppercase;
  background-color: rgba(241, 117, 86, 1);
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
  color: white;
  text-transform: uppercase;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .contactUsWrapper {
    justify-content: center;
    gap: 114px;
  }
}
